.article-name { 
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.article-abstract {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
}
